name: Deploy to Hostinger
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: root
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            echo "Conexión exitosa. Iniciando comandos..."
            cd /etc/easypanel/projects/propify_crm/odoo/volumes/odoo-addons/custom_crm_propify
            git config --global --add safe.directory /etc/easypanel/projects/propify_crm/odoo/volumes/odoo-addons/custom_crm_propify
            git fetch origin main
            git reset --hard origin/main
            chown -R 101:101 .
            docker exec -u 0 $(docker ps -f name=propify_crm_odoo -q | head -n 1) odoo -u custom_crm_propify -d propify_crm --stop-after-init
            echo "¡Despliegue terminado!"