name: Deploy to Hostinger
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: root
          key: ${{ secrets.SSH_KEY }}
          script: |
            echo "--- Iniciando despliegue ---"
            cd /etc/easypanel/projects/propify_crm/odoo/volumes/odoo-addons/custom_crm_propify
            
            echo "1. Configurando Git Safe Directory..."
            git config --global --add safe.directory /etc/easypanel/projects/propify_crm/odoo/volumes/odoo-addons/custom_crm_propify
            
            echo "2. Sincronizando código (Forzado)..."
            git fetch --all
            git reset --hard origin/main
            
            echo "3. Ajustando permisos..."
            chown -R 101:101 .
            
            echo "4. Detectando contenedor y actualizando Odoo..."
            # Este comando busca el ID del contenedor de odoo que esté corriendo actualmente
            CONTAINER_ID=$(docker ps --filter "name=propify_crm_odoo" --filter "status=running" -q | head -n 1)
            docker exec -u 0 $CONTAINER_ID odoo -u custom_crm_propify -d propify_crm --stop-after-init
            
            echo "--- ¡Despliegue exitoso en el contenedor $CONTAINER_ID! ---"